@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Uttarakhand Engineering Products Pvt Ltd. - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="~/assets/img/Logo.png" rel="icon" />
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css"
          rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>

<body>
    <!-- ======= Header ======= -->
    <!-- <section id="topbar" class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:UKEngProdPvtLtd.@@example.com">contact@UKEngProdPvtLtd.@@example</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+911234567890</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
      </div>
    </section>  -->
    <!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center" style="padding: 50px 0px 50px 0px">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="~/Home/Index" class="logo d-flex align-items-center">
                <!--  comment /Uncomment the line below if you also wish to use or not use an image logo -->
                <img src="~/assets/img/Logo.png" alt="" />
                <h1 style="color: #000; text-align: center; text-transform: uppercase; font-size: 15px;" class="HideInPhone">
                    Uttarakhand Engineering<br /><span style="color: #000">Products Pvt Ltd.</span>
                </h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="~/Home/Index" class="NavLinkColour">HOME</a></li>
                    <li><a href="~/Home/About" class="NavLinkColour">ABOUT</a></li>
                    <li><a href="~/Home/Services" class="NavLinkColour">SERVICES</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn NavLinkColour">PRODUCTS <i class="bi bi-caret-down"></i></a>
                        <div class="dropdown-content">
                            <a href="~/Home/ScrapandMetallics" style="text-transform: uppercase;">Scrap and Metallics</a>
                            <a href="~/Home/SemiFinished" style="text-transform: uppercase;">Semi Finished</a>
                            <a href="~/Home/FerroAlloy" style="text-transform: uppercase;">Ferro Alloy</a>
                            <a href="~/Home/NonFerrous" style="text-transform: uppercase;">Non Ferrous</a>
                        </div>
                    </li>
                    <li><a href="~/Home/Gallery" class="NavLinkColour">GALLERY</a></li>
                    <li><a href="~/Home/Contact" class="NavLinkColour">CONTACT</a></li>
                </ul>
            </nav>

            <!-- .navbar -->
            <!-- Hamburger Icon for Mobile View -->
            <div class="mobile-nav-toggle-container">
                <i class="mobile-nav-toggle mobile-nav-show bi bi-list" style="color: #000;"></i>
                <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="row gy-5" data-aos="fade-up">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center text-center text-lg-start position-relative">
                <!-- Video Container -->
                <div class="video-container">
                    <video autoplay
                           muted
                           loop
                           id="video-background"
                           class="position-absolute top-0 start-0 w-100">
                        <source src="~/assets/video/pexels_videos_2530262 (2160p).mp4"
                                type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    <!-- Text Overlay -->
                    <div class="text-overlay" style="width: 80%">
                        <a href="#about" class="btn-get-started">
                            <h2 style="font-size: 50px; text-transform: uppercase">
                                Welcome to UKEP
                            </h2>
                            <p style="font-size: 20px; color: #fff">
                                Established in 2004, Uttarakhand Engineering Products Pvt.
                                Ltd. is a premier trading house in the iron and steel sector,
                                serving leading rolling mills and furnaces nationwide.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Hero Section -->

    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2 style="text-transform: uppercase">About Us</h2>
                    <!-- <p>Your premier destination for sourcing top-quality iron imports globally.</p> -->
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="position-relative mt-4">
                            <img src="~/assets/img/Gallery/logistics1.jpg"
                                 class="img-fluid rounded-4"
                                 alt="" />
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                               class="glightbox play-btn"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                Uttarakhand Engineering Products Pvt. Ltd. (UKEP) was founded
                                in 2004 with a vision to redefine the standards of excellence
                                in the iron and steel industry. Over the years, we have
                                evolved into a dynamic trading powerhouse, leveraging our
                                expertise and extensive network to serve as a reliable partner
                                to steel manufacturers nationwide.
                            </p>
                            <ul>
                                <li>
                                    <i class="bi bi-check-circle-fill"></i> Established in 2004,
                                    Uttarakhand Engineering Products Pvt. Ltd. (UKEP) is a
                                    leading name in the iron and steel industry.
                                </li>
                                <li>
                                    <i class="bi bi-check-circle-fill"></i> We specialize in
                                    serving top rolling mills and furnaces across India on a B2B
                                    basis.
                                </li>
                                <li>
                                    <i class="bi bi-check-circle-fill"></i> With a monthly
                                    movement exceeding 20,000 MT of materials, we are committed
                                    to meeting the evolving needs of the industry.
                                </li>
                                <li>
                                    <i class="bi bi-check-circle-fill"></i> Our extensive global
                                    network of suppliers ensures access to premium raw
                                    materials, enabling us to provide end-to-end solutions to
                                    steel manufacturers.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Us Section -->
        <!-- ======= Our Services Section ======= -->
        <section id="services"
                 class="services sections-bg"
                 style="background-color: #eeeeee">
            <div class="container-fluid" data-aos="fade-up">
                <div class="section-header">
                    <h2 style="text-transform: uppercase">Our Services</h2>
                    <!-- <p>Streamlined solutions for global iron imports.</p> -->
                </div>

                <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-truck"></i>
                            </div>
                            <h3>Global Sourcing</h3>
                            <p>
                                We specialize in sourcing high-quality iron materials from
                                trusted suppliers worldwide. Our extensive network allows us
                                to find the best products at competitive prices.
                            </p>
                            <a href="#" class="readmore stretched-link">
                                Read more <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-cash-stack"></i>
                            </div>
                            <h3>Competitive Pricing</h3>
                            <p>
                                Our streamlined procurement process ensures that we offer
                                competitive pricing for our iron import services. We strive to
                                provide cost-effective solutions to meet our clients' needs.
                            </p>
                            <a href="#" class="readmore stretched-link">
                                Read more <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-truck-flatbed"></i>
                            </div>
                            <h3>Logistics Support</h3>
                            <p>
                                We provide comprehensive logistics support to ensure timely
                                delivery of iron shipments to our clients. From transportation
                                to customs clearance, we handle it all with efficiency.
                            </p>
                            <a href="#" class="readmore stretched-link">
                                Read more <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-gear-wide-connected"></i>
                            </div>
                            <h3>Custom Solutions</h3>
                            <p>
                                We understand that every client has unique requirements.
                                That's why we offer customized solutions tailored to meet
                                specific iron import needs, ensuring maximum satisfaction.
                            </p>
                            <a href="#" class="readmore stretched-link">
                                Read more <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-shield-check"></i>
                            </div>
                            <h3>Quality Assurance</h3>
                            <p>
                                Quality is our top priority. We adhere to stringent quality
                                standards throughout the import process to ensure that our
                                clients receive iron products of the highest quality.
                            </p>
                            <a href="#" class="readmore stretched-link">
                                Read more <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-person-check"></i>
                            </div>
                            <h3>Professional Support</h3>
                            <p>
                                Our team of experienced professionals is dedicated to
                                providing exceptional customer support. We offer expert
                                guidance and assistance at every stage of the import process.
                            </p>
                            <a href="#" class="readmore stretched-link">
                                Read more <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Service Item -->
                </div>
            </div>
        </section>
        <!-- End Our Services Section -->
        <!-- ======= Our Services Section ======= -->
        <!-- <section
          id="services"
          class="services sections-bg"
          style="background-color: #fff"
        >
          <div class="container-fluid" data-aos="fade-up">
            <div class="section-header">
              <h2 style="text-transform: uppercase">Our Products</h2>

            </div>
            <br />
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-4 col-md-6" style="border-radius: 10px">
                <div
                  class="service-item position-relative"
                  style="
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                    padding: 0px;
                  "
                >
                  <div
                    style="
                      border-radius: 10px;
                      background-image: url(/assets/img/AluminiumEngineScrap.png);
                      background-size: cover;
                      background-position: center;
                      height: 40vh;
                    "
                  ></div>
                  <center>
                    <h3 style="margin-top: 15px; text-align: center">
                      Aluminium Engine Scrap
                    </h3>
                  </center>
                </div>
              </div>
              <div class="col-lg-4 col-md-6" style="border-radius: 10px">
                <div
                  class="service-item position-relative"
                  style="
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                    padding: 0px;
                  "
                >
                  <div
                    style="
                      border-radius: 10px;
                      background-image: url(/assets/img/Billet.png);
                      background-size: cover;
                      background-position: center;
                      height: 40vh;
                    "
                  ></div>
                  <center>
                    <h3 style="margin-top: 15px; text-align: center">
                      Billet
                    </h3>
                  </center>
                </div>
              </div>
              <div class="col-lg-4 col-md-6" style="border-radius: 10px">
                <div
                  class="service-item position-relative"
                  style="
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                    padding: 0px;
                  "
                >
                  <div
                    style="
                      border-radius: 10px;
                      background-image: url(/assets/img/Bushelling.png);
                      background-size: cover;
                      background-position: center;
                      height: 40vh;
                    "
                  ></div>
                  <center>
                    <h3 style="margin-top: 15px; text-align: center">
                      Bushelling
                    </h3>
                  </center>
                </div>
              </div>
              <div class="col-lg-4 col-md-6" style="border-radius: 10px">
                <div
                  class="service-item position-relative"
                  style="
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                    padding: 0px;
                  "
                >
                  <div
                    style="
                      border-radius: 10px;
                      background-image: url(/assets/img/CastIron.png);
                      background-size: cover;
                      background-position: center;
                      height: 40vh;
                    "
                  ></div>
                  <center>
                    <h3 style="margin-top: 15px; text-align: center">
                      Cast Iron
                    </h3>
                  </center>
                </div>
              </div>
              <div class="col-lg-4 col-md-6" style="border-radius: 10px">
                <div
                  class="service-item position-relative"
                  style="
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                    padding: 0px;
                  "
                >
                  <div
                    style="
                      border-radius: 10px;
                      background-image: url(/assets/img/CrushedWheels.png);
                      background-size: cover;
                      background-position: center;
                      height: 40vh;
                    "
                  ></div>
                  <center>
                    <h3 style="margin-top: 15px; text-align: center">
                      Crushed Wheels
                    </h3>
                  </center>
                </div>
              </div>
              <div class="col-lg-4 col-md-6" style="border-radius: 10px">
                <div
                  class="service-item position-relative"
                  style="
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                    padding: 0px;
                  "
                >
                  <div
                    style="
                      border-radius: 10px;
                      background-image: url(/assets/img/HMS1&2.png);
                      background-size: cover;
                      background-position: center;
                      height: 40vh;
                    "
                  ></div>
                  <center>
                    <h3 style="margin-top: 15px; text-align: center">
                      HMS 1&2
                    </h3>
                  </center>
                </div>
              </div>
               <center>
                <a href="Products.html" class="btn btn-info" style="color: #fff;">View All Products</a>
              </center>

            </div>

          </div>
        </section> -->
        <!-- End Our Services Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2 style="text-transform: uppercase">Contact</h2>
                    <p><b>Feel free to Contact us at any time</b></p>
                </div>
                <br />
                <div class="row gx-lg-0 gy-4">
                    <div class="col-lg-4">
                        <div class="info-container d-flex flex-column align-items-center justify-content-center">
                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>Location:</h4>
                                    <p>
                                        198/2 Civil Lines North Muzaffarnagar, Uttar Pradesh,
                                        India
                                    </p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>Email:</h4>
                                    <p>ukepinternational@gmail.com, import@ukep.in</p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>Call:</h4>
                                    <p>+91 9997075111, +91 9837034370</p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-clock flex-shrink-0"></i>
                                <div>
                                    <h4>Open Hours:</h4>
                                    <p>Mon-Sat: 9AM - 6PM</p>
                                </div>
                            </div>
                            <!-- End Info Item -->
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <form action="~/Home/Index"
                              method="post"
                              class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text"
                                           name="Name"
                                           class="form-control"
                                           id="Name"
                                           placeholder="Your Name"
                                           required />
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email"
                                           class="form-control"
                                           name="Email"
                                           id="Email"
                                           placeholder="Your Email"
                                           required />
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text"
                                       class="form-control"
                                       name="Subject"
                                       id="Subject"
                                       placeholder="Subject"
                                       required />
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control"
                                          name="Message"
                                          rows="7"
                                          placeholder="Message"
                                          required></textarea>
                            </div>

                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                    <!-- End Contact Form -->
                </div>
            </div>
        </section>
        <!-- End Contact Section -->
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->

    <footer id="footer" class="footer">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-3 col-md-12 footer-info">
                    <div class="container-fluid d-flex align-items-center">
                        <a href="~/Home/Index">
                            <img src="~/assets/img/Logo1.png"
                                 alt=""
                                 style="
                    height: 25vh;
                    object-fit: cover;
                    width: 100%;
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    border-bottom-left-radius: 5%;
                    border-bottom-right-radius: 5%;
                  " />
                        </a>
                    </div>

                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6 footer-links">
                    <center>
                        <h4>Member : MRAI</h4>
                        <img src="~/assets/img/MRAILOGO.png" style="height: 100px;" />
                        <br>
                        <br>
                        <p>Membership No. IMNUP605</p>
                    </center>
                    <!-- <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="Gallery.html">Gallery</a></li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul> -->
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Products</h4>
                    <ul>
                        <li><a href="~/Home/ScrapandMetallics">Scrap & Metallics</a></li>
                        <li><a href="~/Home/SemiFinished">Semi Finished</a></li>
                        <li><a href="~/Home/FerroAlloy">Ferro Alloy</a></li>
                        <li><a href="~/Home/NonFerrous">Non Ferrous</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        <strong>Address :</strong> 198/2 Civil Lines North Muzaffarnagar,
                        Uttar Pradesh, India<br />
                        <strong>Phone :</strong> +91 9997075111, +91 9837034370<br />
                        <strong>Email :</strong> ukepinternational@gmail.com, import@ukep.in<br />
                        <strong>GSTIN :</strong> 09AAACU7789D1ZW
                        <br />
                    </p>
                </div>
            </div>
        </div>

        <!-- <div class="container mt-4"> -->

        <div class="credits">
            Designed & Developed By
            <a href="http://www.faspi.in/"><strong><span>Marwari Software</span></strong></a>
        </div>
        <!-- </div> -->
    </footer>
    <!-- End Footer -->

    <a href="#"
       class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    @*<script src="~/assets/vendor/php-email-form/validate.js"></script>*@

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script>
        // Toggle the dropdown menu on click
        document.addEventListener("DOMContentLoaded", function () {
            var dropdowns = document.querySelectorAll('.dropdown');
            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('click', function (event) {
                    var dropdownContent = this.querySelector('.dropdown-content');
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            });

            // Close the dropdown menu if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    dropdowns.forEach(function (dropdown) {
                        var dropdownContent = dropdown.querySelector('.dropdown-content');
                        if (dropdownContent.style.display === "block") {
                            dropdownContent.style.display = "none";
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>
